
* {
    margin: 0;
    box-sizing: border-box;
} 
   
body {
    font-family: arial,sans-serif;
    height: 100vh;
    
}

a:hover {
    text-decoration: underline;
}

.google-button {
    margin: 10px;
}

.button-container {
    margin-top: 20px;
}

.navbar-main-container {
    font-size: 13px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
    height: 10%;
}

.navbar-left {
    /* display:flex;
    justify-content: flex-start;
    position: relative; */
}

.navbar-left span {
    
    padding: 1em;
}

.navbar-right{
    /* display:flex;
    justify-content: flex-end; */
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar > span {
    padding: 1em;
}

.navbar-right span {
    /* align-self: center;
    padding: 1em; */
}

.nav-link-style {
    text-decoration: none;
    color: black;
    opacity: 0.75;
}


.content {
    /* display: grid;
    height: 60%;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: .5fr 44px ;
    grid-template-areas: 
    "logo logo logo"
    ". search_bar ."
    ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px
}

.logo {
    /* grid-area: logo;
    padding-bottom: 35px;
    padding-top: 109px;
    text-align: center; */

}

.search-bar {
    /* grid-area: search_bar;
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center; */
    width: 300px;
}

.search-bar input {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    align-self: center;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: auto;
}

.bottom-nav-main {
    height: 45px;
    /* display: flex; */
    /* flex-flow: row wrap-reverse; */
    background: #f2f2f2;
    bottom: 0;
    position: absolute;
    width: 100%;
    align-items: center;
    /* justify-content: space-evenly; */
    font-size: 14px;
    color: #5f6368;
    display: flex;
    justify-content: space-between;
}


.bottom-left-nav {
    /* margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    min-width: 50%;
    flex-flow: row nowrap; */
}

.bottom-nav-item > a {
    padding: 15px;
}

.bottom-left-nav > a {
    /* display: inline-block;
    padding-left: 27px; */
}

.bottom-right-nav {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    min-width: 50%; */

}

.bottom-right-nav > a {
    /* display: inline-block;
    padding-right: 27px; */
}

